.st0 {
    fill: url(#background_00000085955569316890341170000009252047901834873478_);
}

.st1 {
    opacity: 0.37;
    fill: #4A256F;
}

.st2 {
    opacity: 0.59;
}

.st3 {
    fill: #4D2B69;
}

.st4 {
    fill: #591D57;
}

.st5 {
    fill: #805087;
}

.st6 {
    fill: #9B78A1;
}

.st7 {
    fill: #E6E1E6;
}

.st8 {
    fill: #B98CB3;
}

.st9 {
    opacity: 0.32;
    fill: #591D57;
}

.st10 {
    fill: #512F66;
}

.st11 {
    fill: #EEA67B;
}

.st12 {
    fill: #F5B795;
}

.st13 {
    fill: #444248;
}

.st14 {
    fill: #FFFFFF;
}

.st15 {
    fill: #EE9621;
}

.st16 {
    opacity: 0.55;
    fill: #49546D;
}

.st17 {
    fill: #F9A72D;
}

.st18 {
    opacity: 0.5;
    fill: #CAA82C;
}

.st19 {
    fill: #49546D;
}

.st20 {
    font-family: 'MyriadPro-Regular';
}

.st21 {
    font-size: 74.2574px;
}

.st22 {
    fill: #C58A5B;
}

.st23 {
    fill: #E4BD83;
}

.st24 {
    fill: #EAD0B6;
}

.st25 {
    fill: #F6EEE5;
}

.st26 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FDD5B6;
}

.st27 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #F9A72D;
}

.st28 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFF2E8;
}

.st29 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #49546D;
}

.st30 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #808184;
}

.st31 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #000000;
    opacity: .5;
}

#background{
    fill:url(#backgroundGradient);
}

#componentsGroup{
    enable-background:new 0 0 1920 1080;
}

#gradientStop1{
    stop-color:#783292
}

#gradientStop2{
    stop-color:#622C81
}

#gradientStop3{
    stop-color:#4A256F
}
