.st020 {
	fill: #8449B7;
}

.st021 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FDD5B6;
}

.st022 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FFFFFF;
}

.st023 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #FFF2E8;
}

.st024 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #49546D;
}

.st025 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #808184;
}

.st026 {
	fill: url(#Path_29_00000095334287379969500760000018150352310111509896_);
}

.st027 {
	fill: url(#Path_30_00000099621657354891755180000000486808452102283139_);
}

.st028 {
	fill: url(#Path_31_00000108298001486390351560000014845144634951324043_);
}

.st029 {
	fill: url(#Path_32_00000148635267764422936870000006823544973850995610_);
}

.st0210 {
	fill: url(#Path_33_00000148646919012903327160000007943103448986539907_);
}

.st0211 {
	fill: url(#Path_34_00000057861532607088840890000006155830548222104449_);
}

.st0212 {
	fill: url(#Path_35_00000019654402165097153110000010855916583002757517_);
}

.st0213 {
	fill: url(#Path_36_00000008132570583872987460000015031451379571779513_);
}

.st0214 {
	fill: url(#Path_37_00000087400533319151164690000004129209904445035198_);
}

.st0215 {
	fill: url(#Path_38_00000028317562052334197330000008027105815789912503_);
}

.st0216 {
	fill: url(#Path_39_00000084517679676284398810000011020583364265470141_);
}

.st0217 {
	fill: url(#Path_40_00000140703232787856920290000015905016755166999455_);
}

.st0218 {
	fill: url(#Path_41_00000131349487222437811780000006971598465304595595_);
}

.st0219 {
	fill: url(#Path_42_00000018958779355928444800000002814066622098028188_);
}

.st0220 {
	fill: url(#Path_43_00000012442334902086455630000005928650226148747710_);
}

.st0221 {
	fill: url(#Path_44_00000022557580889357212670000008193564298955698850_);
}

.st0222 {
	fill: url(#Path_45_00000173863397165934765200000002286393287294376597_);
}

.st0223 {
	fill: url(#Path_46_00000119802046960262634260000007752450758674011044_);
}

.st0224 {
	fill: url(#Path_47_00000124155160371188943730000014332691035697437571_);
}

#secondBackground{
	enable-background:new 0 0 1920 1080;
}
#mainSecondPage{
	
}
.stop1{
	stop-color:#93278F
}

.stop2{
	stop-color:#451a66
}

#Path_29{
	fill:url(#Path_29_00000132061125695372516840000012367077938714460046_);
}

#Path_30{
	fill:url(#Path_30_00000103985078782142627590000015192949942413697172_);
}

#Path_31{
	fill:url(#Path_31_00000166653432594354234320000013099093027952785599_);
}

#Path_32{
	fill:url(#Path_32_00000127729137917343167210000016036168230609561478_);
}

#Path_33{
	fill:url(#Path_33_00000169542507810976843610000005220040042642057636_);
}

#Path_34{
	fill:url(#Path_34_00000005232296451898429770000012286486279942296460_);
}

#Path_35{
	fill:url(#Path_35_00000074417634937493252140000000304790715745468289_);
}

#Path_36{
	fill:url(#Path_36_00000023266715708217361140000003271560107786547377_);
}

#Path_37{
	fill:url(#Path_37_00000070838509166266199220000005380810472801705345_);
}

#Path_38{
	fill:url(#Path_38_00000138543522250807886430000008497758218643203463_);
}

#Path_39{
	fill:url(#Path_39_00000068674714801537513200000013885548315279536546_);
}

#Path_40{
	fill:url(#Path_40_00000023261463777384426790000013118073825586356883_);
}

#Path_41{
	fill:url(#Path_41_00000080199390636646411400000005560584069614825403_);
}

#Path_42{
	fill:url(#Path_42_00000159454206814097507290000006361126423448396183_);
}

#Path_43{
	fill:url(#Path_43_00000173128348181297171600000004957342807757931449_);
}

#Path_44{
	fill:url(#Path_44_00000183927357245930973510000001779823577227434412_);
}

#Path_45{
	fill:url(#Path_45_00000113335027158294173860000002268988384630100665_);
}

#Path_46{
	fill:url(#Path_46_00000078723286009063222830000008340164781694456714_);
}

#Path_47{
	fill:url(#Path_47_00000021107402455122024680000000293572309806036107_);
}
